.autocomplete {
    background-color: #fff;
    width: 100%;
    display: block;
    overflow-y: scroll;
    border-radius: 0 0 25px 25px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

   &::-webkit-scrollbar {
    display: none;
   }

    -webkit-box-shadow: 0px 3px 10px 5px rgba(117,113,117,0.97);
    -moz-box-shadow: 0px 3px 10px 5px rgba(117,113,117,0.97);
    box-shadow: 0px 3px 10px -5px rgba(117,113,117,0.97);
}